<div class=row> <button nbButton hero status="primary" class="mb-2">Add new</button>
</div>
<div class="row ">
    <nb-card class="col-12">
        <nb-card-header>Products</nb-card-header>
        <nb-card-body>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Max Products</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shop of shops" (click)="toShopProducts(shop)">
                        <th scope="row">{{shop.id}}</th>
                        <td>{{shop.name}}</td>
                        <td>{{shop.location}}</td>
                        <td>{{shop.maxProducts}}</td>
                    </tr>
                </tbody>
            </table>
        </nb-card-body>
    </nb-card>
</div>